#setting {
    position: fixed;
    fill: gray;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    transition: animation 0.3s ease;
}
#setting:hover {
}

#setting.rotating {
    animation: keepRotate 10s linear infinite;
    fill: white;
}

@keyframes keepRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.setting-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(5px);
    transition: width 0.2s ease-in-out;
}
.setting-container.open {
    width: 200px;
    border-right: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
}

.setting-container > *:first-child {
    margin-top: 100px;
}

.setting-container > input {
    display: inline-block;
    margin-bottom: 10px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    background-color: black;
}
.setting-container > input[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
