*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    height: min(70vw, 70vh);
    aspect-ratio: 1.4 / 1;
    border-radius: 10px;
    position: relative;
    border: 2px solid rgb(241, 241, 241);
    background-color: #333;
}
.snake-head,
.snake-body,
.snake-tail,
.food {
    position: absolute;
    height: 5%;
    aspect-ratio: 1;
    border-radius: 2px;
    box-shadow: 0 0 4px white;
    transition: all 0.2s linear;
}

.snake-head {
    background-color: white;
}
.snake-body {
    background-color: gray;
}

.food {
    border-radius: 50%;
    background-color: white;
}
