*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



#main-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 30px;
    margin: 30px 0;
    gap: 10px;
    background-color: grey;
}

.tier-bracket {
    align-items: center;
    width: 90%;
    min-height: 120px;
    background-color: lightgrey;
    border: 2px solid black;
}

.tier-name {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tier-container {
    display: flex;

    flex-wrap: wrap;
    
    min-height: 100px;
    /* width: calc(100% - 100px); */
    margin: 0 10px;
    border: 2px solid blue;
}

.participant {
    cursor: move;
    min-width: 0;
    max-width: 90px;
    align-self: center;
    object-fit: cover;
    object-position: center;
    margin: 2px;
}

.dragging {
    opacity: 0.5;
}