*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #242222;
}


#main-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.tier-bracket {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    width: 100%;
    min-height: 120px;
    background-color: #252d32;
    border: 1px solid #000000;
}

.tier-name {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tier-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    margin: 0 10px;
}

.setting {
    height: 40px;
    width: 40px;
    fill: white;
    margin-inline: 10px;
    cursor: pointer;
}

.edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(50vw, 60vw, 90vw);
    min-height: 50vh;
    background-color: white;
    z-index: 5;
    display: none;
    flex-direction: column;
    align-items: center;
}
.edit-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 4;
}
.color-picker {
    width: 80%;
    min-height: 30px;
    margin: 30px auto; 
}

#name-textarea {
    align-self: center;
    width: 80%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#edit-close-btn {
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    gap: 20px;
    margin-bottom: 30px;
}
.edit-btn {
    background-color: #f1f1f1;
    border-radius: 5px;
    border: none;
    height: 2rem;
    cursor: pointer;
}
.edit-btn:hover {
    background-color: #e1e1e1;
}
.edit-btn.delete {
    background-color: #ffeded;
}
.edit-btn.delete:hover {
    background-color: #ffd3d3;
}
.options .apply {
    grid-area: 1 / 1 / 2 / 3;
    width: 70%;
    justify-self: center;
}

.participant {
    cursor: move;
    min-width: 0;
    max-height: 90px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    align-self: center;
    object-fit: cover;
    object-position: center;
    margin: 2px;
}

.tier-container.upload-container {
    background-color: #252d32;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 200px;
    min-height: 200px;
    cursor: pointer;
}

.tier-container.upload-container.highlight {
    background-color: #3f4c53;
}

.dragging {
    opacity: 0.5;
}