.change-color-container {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 70%;
    gap: 10px
}
.change-color-btn {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    border: none;
}

.top {
    z-index: 0;
}