@media screen and (max-width: 768px) and (min-width: 426px)  {
    body {
        display: grid;
        grid-template-columns: min-content min-content min-content;
    }
    .change-color-container {
        top: 2px;
        left: 2px;
    }
    .display-show-more-horizontal {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
    }
    .calculator {
        justify-self: center;
        margin: 0;
        margin-top: 45px;
        width: 100%;
    }
    .display-show-more {
        display: none;
    }
    .display-show-more-horizontal {
        width: 100%;
        background-color: #707070;
        border: 0 solid transparent;
        display: block;
        border-radius: 5px;
    }
    .display-show-more-horizontal svg {
        transform: rotate(0deg);
        transition: transform 0.3s;
        fill: white;
    }
    .history {
        overflow-x: scroll;
        width: 100%;
        height: 0px;
        transition: height 1s;
        justify-self: end;
    }
    .history-expand {
        height: 400px;

    }
}