
*::-webkit-scrollbar {
    background-color: grey;
    width: 10px;
    border-radius: 10px;
}
  

*::-webkit-scrollbar-track {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(68, 68, 68);
    border-radius: 50px;
    width: 10px;
}
  
*::-webkit-scrollbar-corner {
    width: 10px;
    
    background-color: rgb(68, 68, 68);
    border-radius: 50%;
}