*, *::after, *::backdrop {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    /* position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%; */
    max-width: 400px;
    justify-self: center;
    min-height: 50%;
    background-color: black;
    padding: 40px;
    border-radius: 5px;

    display: grid;
    grid-template-rows: max-content min-content min-content 1fr;
}  

.display {
    min-width: 90%;
    min-height: 6rem;
    font-size: 4rem;
    background-color: #707070;
    color: white;
    border: 0 solid transparent;
    text-align: end;
    overflow-x: hidden;
}
.display::placeholder {
    color: white;
}
.display-show-more {
    background-color: #707070;
    border: 0 solid transparent;
}
.display-show-more:hover {
    filter: brightness(0.8);
}
.display-show-more svg {
    fill: white;
}

.more-functions-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.more-functions {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 40px;
    place-items: center center;
    gap: 10px;
}
.more-fx-btn {
    --fx-btn-height: 2rem;
    --fx-btn-width: 4rem;
    height: var(--fx-btn-height);
    width: var(--fx-btn-width);
    border-radius: 999px;
    background-color: #333;

    font-size: 1rem;
    color: white;
}
.more-fx-btn:hover {
    background-color: #424242;
}
.show-more {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.show-more:hover {
    background-color: #424242;
}
.show-more svg {
    fill: white;
}

.common-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}
.btn {
    --button-height: 4rem;
    height: var(--button-height);
    width: var(--button-height);
    border: 0 solid;
    background-color: #636363;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    text-align: center;
}
.btn:hover {
    background-color: #787878;
}
.btn:active {
    filter: brightness(0.7);
}

#delete-btn {
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}