*, *::after, *::backdrop {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #e1caff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    max-width: 400px;
    justify-self: center;
    min-height: 50%;
    background-color: black;
    padding: 20px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: max-content min-content min-content 1fr;
}  
.display-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.display {
    min-width: 90%;
    min-height: 3rem;
    font-size: 3rem;
    padding-right: 10px;
    background-color: #707070;
    color: rgb(218, 218, 218);
    border: 0 solid transparent;
    text-align: end;
    overflow-x: hidden;
}
.display::placeholder {
    color: white;
}
.display-result {
    min-height: 4.5rem;
    font-size: 3.5rem;
    padding-right: 10px;
    color: white;
    background-color: #707070;
    text-align: end;
}
.display-show-more {
    grid-area: 1 / 1 / 999 / 2;
    background-color: #707070;
    border: 0 solid transparent;
    height: 100%;
}
.display-show-more:hover {
    filter: brightness(0.8);
}
.display-show-more svg {
    transform: rotate(0deg);
    transition: transform 0.3s;
    fill: white;
}
.display-show-more svg.display-show-more-expanded {
    transform: rotate(180deg);
}
.history {
    min-width: 40px;
    width: 0px;
    height: 590px;
    background-color: #707070;
    transition: width 0.5s;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
}

.history-expand {
    width: 350px;
}
.previousCal {
    width: 90%;
    height: 60px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    transition: width 0.5s;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.previousCal p {
    font-size: 1rem;
    margin-right: 20px;
}
.more-functions-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.more-functions {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 40px;
    gap: 10px;
    height: 30px;
    transition: height 0.2s;
}
.more-functions.more-functions-expand {
    height: 110px;
}
.more-fx-btn {
    --fx-btn-height: 2rem;
    --fx-btn-width: 4rem;
    height: var(--fx-btn-height);
    width: var(--fx-btn-width);
    border-radius: 999px;
    background-color: #333;
    font-size: 1rem;
    color: white;
}
.more-fx-btn:hover {
    background-color: #424242;
}
.show-more {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.show-more:hover {
    background-color: #424242;
}

.show-more svg {
    fill: white;
}


.common-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}
.btn {
    --button-height: 4rem;
    height: var(--button-height);
    width: var(--button-height);
    border: 0 solid;
    background-color: #636363;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    text-align: center;
}
.btn:hover {
    background-color: #787878;
}
.btn:active {
    filter: brightness(0.7);
}

#delete-btn {
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}