
.enigma {
    --primary-color: rgb(32, 32, 32);
    --button-color: rgb(36, 36, 36);
    --key-and-light-size: 3rem;
    --row-offset: -1.6rem;

    height: 100%;
    font-family: Courier, sans-serif;
    user-select: none;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primary-color);
}

.lightbulb-container, .keyboard-container, .plugboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min-content;
    gap: 10px;
    padding: 10px 30px;
}

.key, .light, .plug, .rotor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.lightbulb-container {
    background-color: #242424;
}
.light-row-1, .light-row-2, .light-row-3 {
    display: flex;
    gap: 20px;
}
.light-row-2, .light-row-3 {
    transform: translateX(var(--row-offset));
}
.light {
    height: var(--key-and-light-size);
    width: var(--key-and-light-size);
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    filter: drop-shadow(0 0 0 transparent);
    box-shadow: inset 0px 0px 10px black;

    transition: background-color 0.05s, box-shadow 0.05s, color 0.05s;
}
.highlight {
    background-color: yellow;
    color: var(--primary-color);
    box-shadow: 0px 0px 40px yellow;
}

.keyboard-container {
    background-color: gray;
}
.key-row-1, .key-row-2, .key-row-3 {
    display: flex;
    gap: 20px;
}
.key-row-2, .key-row-3 {
    transform: translateX(var(--row-offset));
}
.key {
    height: var(--key-and-light-size);
    width: var(--key-and-light-size);
    background-color: var(--button-color);
    color: white;
    border-radius: 50%;
    border: 3px solid rgb(236, 236, 236);
    filter: drop-shadow(5px 5px 3px rgb(51, 51, 51));
    transition: filter 0.05s linear, background-color 0.05s;
}
.key-pressed {
    border: 3px solid rgb(236, 236, 236);
    background-color: black;
    filter: drop-shadow(0px 0px 1px black);
}