@media screen and (max-width: 768px) and (min-width: 426px) {
    html {
        overflow-x: hidden;
    }
    body {
        grid-template-columns: 1fr;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    
    .lightbulb-container, .keyboard-container, .plugboard-container {
        padding: 10px 5px;
    }
    .incoming-code-container, .decryption-container {
        min-height: 5rem;
    }
    .decryption-container {
        font-size: 1.5rem;
    }
    .enigma {
        padding-top: 30px;
    }
    .key-row-2, .light-row-2 {
        transform: translateX(calc(var(--row-offset) / 2));
    }
    .key-row-3, .light-row-3 {
        transform: translateX(0);
    }

    .interactive-container {
        grid-area: 1 / 1 / 2 / 2;
    }
}

@media screen and (max-width: 426px) {
    * {
        font-size: 0.8rem;
    }
    body {
        overflow: scroll;
        grid-template-columns: 1fr;
    }
    th, td {
        font-size: 1.2rem;
    }
    .decryption-container {
        font-size: 1.5rem;
    }
    .interactive-container {
        grid-area: 1 / 1 / 2 / 2;
    }
    .lightbulb-container, .keyboard-container, .plugboard-container {
        padding: 10px 5px;
    }
    .enigma {
        padding-top: 30px;
    }
    .current-number {
        font-size: 2.5rem;
        margin-right: 10px;
    }
    .available-rotors p {
        font-size: 2rem;
    }
    .keyboard-container {
        min-height: 33vh;
        justify-content: space-evenly;
    }
    .plugboard-container {
        padding-top: 50px;
    }
    .key-row-2, .light-row-2 {
        transform: translateX(calc(var(--row-offset) / 2));
    }
    .key-row-3, .light-row-3 {
        transform: translateX(0);
    }
    .key-row-1, .key-row-2, .key-row-3, .light-row-1, .light-row-2, .light-row-3, .plug-row-1, .plug-row-2, .plug-row-3 {
        /* display: flex; */
        gap: 4px;
    }
    .key, .light {
        transition: all 0s;
    }
}