.rotor-display-container {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    background-color: aliceblue;
    border-radius: 15px;
}
.rotor {
    width: var(--key-and-light-size);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    position: relative;
    margin: auto auto;
}

.current-number {
    grid-area: 1 / 1 / 3 / 2;
    width: 2rem;
    text-align: end;
    font-weight: bold;
    cursor: pointer;
}
.next-number, .previous-number {
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next-number {
    background-color: rgb(95, 95, 95);
    fill: white;
}

.previous-number {
    background-color: rgb(95, 95, 95);
    fill: white;
}

.available-rotors {
    position: absolute;
    top: 100%;
    left: -100%;
    width: max-content;
    color: green;
    z-index: 2;
}
.current-rotor, .other-in-use-rotor, .available-rotor {
    padding: 10px;
}
.current-rotor {
    background-color: var(--primary-color);
    color: gray;
    cursor: auto;
}
.other-in-use-rotor {
    background-color: rgb(65, 65, 65);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.available-rotor {
    background-color: rgb(92, 92, 92);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}