.setting-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

table {
    width: 100vw;
}

th, td {
    border: 1px solid white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
}

th.rotor-spec {
}

th.plugs {
    width: 70px;
}

td {
    height: 24px;
}

.plugboard-setting {
    translate: 0 -1px;
}

table {
    border-collapse: collapse;
}