*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: grid;
    overflow: scroll;
    overflow-y: hidden;
    grid-template-columns: 1fr max-content;
}