*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr min-content;
    place-items: center center;
    background-color: #f1ece7;
}

.background-container {
    --gap-width: min(2vw, 2vh);

    aspect-ratio: 1;
    /* height: 70%; */
    width: 80%;
    max-width: 80vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 4px;
    gap: var(--gap-width);
    padding: var(--gap-width);
    background-color: #bbada0;
}

.background-cell {
    aspect-ratio: 1;
    border-radius: 5px;
    background-color: #ccc0b3;
    position: relative;
}

.game-overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.cell {
    position: absolute;
    width: calc((100% - var(--gap-width)*5)/4);
    aspect-ratio: 1;
    margin-top: var(--gap-width);
    margin-left: var(--gap-width);
    top: 0%;
    left: 0%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: min(10vw, 10vh);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: red;
    scale: 0;

    transition: scale 0.2s, translate 0.2s;

    z-index: 1;
}

.options {
    width: 100%;
    height: 10vh;
    background-color: #c5b29e;
}